body{
    background:skyblue;
    text-align:center;  background:url(https://images.unsplash.com/photo-1570303345338-e1f0eddf4946?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=771&q=80);
    background-size: cover;
  }
  label,button,input{
    font-size:3em;
    text-align:center;
    border-radius:20px;
  }
  input{
    width:100px;
  }
  p{
    font-size:3em;
    text-shadow: 0 5px 5px black;
    color: chartreuse;
  }
  button:hover{
    box-shadow:0 0 30px 0 black;
  }
  button{
    width:300px;
  }
  